# Node modules
node_modules/
**/node_modules/

# Flutter/Dart
.dart_tool/
.packages
/.idea/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/

# Android
/android/.gradle/
/android/app/build/
local.properties

# IDE
*.iml
/.vscode/

# macOS
.DS_Store
.dart_tool/
.packages
build/
android/.gradle/
ios/Pods/
/.idea/
/.vscode/
